* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    line-height: 1.6;
    margin: 0;
    background-color: #edbf9393;
    overflow-x: hidden; /* Prevent horizontal scrollbar */
}

html, body {
    height: 100%;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 2px;
}

.navbar {
    background-color: rgb(79, 87, 86);
    color: #fff;
    top: 0;
    left: 0;
    padding: 10px;
    position: fixed;
    width: 100%;
    height: none;
    z-index: 100; /* Ensure the navigation bar is on top of other elements */
}

.navbar .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 1.5em;
    font-weight: bold;
    text-align: start;
}

.nav-links {
    list-style-type: none;
    display: flex;
}

.nav-links li {
    margin-right: 20px;
}

.nav-links a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    transition: color 0.3s ease-in-out;
}

.nav-links a:hover {
    color: #ffd700; /* Change to your desired hover color */
}

.hero {
    margin-top: 50px;
    padding: 80px 0;
    background-image: url("abby.jpeg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed; /* Fixed background */
    text-align: left;
    backface-visibility: visible;
    height: 100vh; /* Full viewport height */
}

.section {
    padding: 20px 0;
    height: 100vh; /* Full viewport height */
}

.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    padding: 0px;
}

.col {
    padding: 200px;
    flex-basis: 100%;
    text-align: left;
    margin-bottom: 20px;
}

h1 {
    font-size: 80px;
    font-family: serif;
}

h2 {
    font-size: 75px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-inline-start: 200px;
}

h3 {
    text-align: center;
    padding-top: 100px;
}

#about img {
    height: 200px;
    display: block;
    margin: 20px auto;
}

.a1 {
    padding-top: 20px;
    width: 100px;
    height: 0px;
}

#achievements .project {
    display: block;
    align-items: center;
    margin-bottom: 20px;
    width: 100%;
    
}

#achievements img {
    width: 400px;
    height: 250px;
    display: block;
    margin: 20px auto;
}


#achievements .project-info {
    flex-grow: 1;
    padding: 20px; /* Add padding for better spacing */
}

#achievements h3,
#achievements p {
    margin: 10px;
    text-align: left; /* Adjust text alignment if needed */
}
